.acordeon {
  border: none;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.acordeon summary {
  padding: 16px 20px;
  background: #f1f5f9;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.2s ease;
  border-bottom: 1px solid transparent;
}

.acordeon[open] summary {
  background: #e2e8f0;
  border-bottom: 1px solid #cbd5e1;
}

.acordeon summary::-webkit-details-marker {
  display: none;
}

.tituloResumo {
  font-weight: 600;
  color: #1f2937;
  font-family: 'Segoe UI', sans-serif;
}

.status {
  font-weight: bold;
  color: #0d9488;
  margin-left: 6px;
}

.status.pendente {
  color: #eab308;
}

.status.aprovado {
  color: #16a34a;
}

.status.negado {
  color: #dc2626;
}

.cardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
  color: #333;
}

.infoBox p {
  margin: 4px 0;
}


.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.checkboxes label {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.protocoloBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 8px;
  font-size: 14px;
}

.protocoloInput {
  padding: 8px 12px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 14px;
  width: 20%;
  background: #fff;
}

select {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  background: #fff;
  transition: border-color 0.2s ease;
}

select:focus {
  border-color: #0ea5e9;
  outline: none;
}



.protocoloBox label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
  color: #334155;
}

/* MinhasIndicacoesPage.module.css */
.verificacaoProtocolo {
  font-weight: bold;
  margin-top: 8px;
  color: green;
}

.verificacaoProtocolo:has(span[role="nao"]) {
  color: red;
}










.botaoIndicador {
  background: #0ea5e9;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background 0.2s ease;
}

.botaoIndicador:hover {
  background: #0284c7;
}

.indicadorBox, .indicadoBox {
  background: #f9fafb;
  padding: 14px 16px;
  border-left: 4px solid #0ea5e9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.indicadorBox p, .indicadoBox p {
  margin: 6px 0;
  font-size: 14.5px;
}
